@model IEnumerable<Department>

@{
    ViewData["Title"] = "Department List";
}

<h1 class="text-center">Department List</h1>
<hr />

<div id="PlaceHolderHere"></div>

<button type="button" class="btn btn-primary m-1" style="width:auto" data-toggle="ajax-modal" data-target="#addModal"
        data-url="@Url.Action("Create")">
    Create New
</button>

<table class="table mt-2">
    <thead class="thead-light">
        <tr>
            <th>Department Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentName</td>
                <td>
                    <form asp-action="Delete" asp-controller="Department" asp-route-id="@department.DpartmentID" method="post">

                        <button type="button" class="btn btn-primary m-1" style="width:auto" data-toggle="ajax-modal" data-target="#addModal"
                                data-url="@Url.Action($"Edit/{department.DpartmentID}")">
                            Edit
                        </button>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to Delete this Schedule')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/customScript.js"></script>
}

