@model EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
        <label asp-for="Department" class="control-label"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<ViewBag.allDepartment>()" class="form-control">
            <option value="">Please Select</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label">Department</label>
                <select asp-for="DepartmentID" asp-items="@(new SelectList(Model.DepartmentList,"DpartmentID","DepartmentName"))" class="form-control">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionID" class="control-label">Position</label>
                <select asp-for="PositionID" asp-items="@(new SelectList(Model.PositionList,"PositionID","PositionName"))" class="form-control">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="PositionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleID" class="control-label">Schedule</label>
                <select asp-for="ScheduleID" asp-items="@Model.ScheduleList" class="form-control">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="ScheduleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
