@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An Error occured while processing your request
    </h3>
    <h5>Please contact on the Admin</h5>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}


